[2016-03-16 16:20] pedrogclp opened #1 "sendPostData function returns nothing"
var_dump() of sendPostData returns bool(false)

[2016-03-17 09:06] shakee93 commented on #1
Did you try with the demo files ? it seems to be working. can you attach the code please

[2016-03-17 09:27] pedrogclp commented on #1
Yes I did, I don't know why its returning false, I just unzip the demo, put it the generated key and tried it. Maybe I'm doing something wrong.. I tried to put other random url to know if cURL was working, and it worked.

[2016-03-17 10:34] shakee93 commented on #1
I just made a commit. i have added debugging for curl.

you can now use
fonoApi::init($apiKey) -- initiate
fonoApi::debug($apiKey) -- debug

check the demo file

[2016-03-17 10:56] pedrogclp commented on #1
Thanks you, I'll test ASAP

[2016-03-17 12:03] pedrogclp commented on #1
This is from debugger:
"ERROR : Curl Failed | innerException : SSL certificate problem: unable to get local issuer certificate"

[2016-03-17 12:05] pedrogclp commented on #1
I solved: [http://unitstep.net/blog/2009/05/05/using-curl-in-php-to-access-https-ssltls-protected-sites/](here)

`curl_setopt($ch, CURLOPT_SSL_VERIFYPEER, false);`

And it works

[2016-03-17 12:43] shakee93 commented on #1
Great. its a common server config issue. but disabling verifier makes all your requests insecure that is not recommended.

There is another approach using .pem file
http://stackoverflow.com/questions/28858351/php-ssl-certificate-error-unable-to-get-local-issuer-certificate

you could give it a try.

[2016-03-17 13:13] #1 closed

[2016-03-17 14:11] pedrogclp commented on #1
Thanks you!

[2016-03-17 14:30] pedrogclp commented on #1
To configure WAMP:
1.- **Download** the CA Certificate from this link: [https://curl.haxx.se/ca/cacert.pem](url)
2.- Open **php.ini**
3.- Look for **curl.cainfo** and paste the **absolute path** where you have download the Certificate.
`/* Example: curl.cainfo = "C:\wamp\htdocs\cert\cacert.pem" */`
4.- **Restart** WAMP.
5.- **It works!**

[2016-03-29 21:11] JToward opened #2 "Do I need an ssl certification?"
I am facing "ERROR : Curl Failed" error after running demo.php
Do I need to have a SSL certification?
I am running this on my XAMPP local host.

[2016-03-29 21:19] pedrogclp commented on #2
You got the answer at the end:
[https://github.com/shakee93/fonoapi/issues/1](url)

[2016-03-30 07:23] #2 closed

[2016-04-13 05:20] ThunderRoid opened #3 "Doesn't work with Advanced Rest Client (Chrome Extension)"
![untitled](https://cloud.githubusercontent.com/assets/3328263/14483532/a6edcdf0-0169-11e6-97f1-3d16f92a6a67.png)

Responce

{"status":"error","message":"Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com","innerException":null}

[2016-04-13 10:56] shakee93 commented on #3
![image](https://cloud.githubusercontent.com/assets/14835725/14491076/4a76ec20-0194-11e6-83b4-180c2a8ff557.png)
![image](https://cloud.githubusercontent.com/assets/14835725/14491085/5c04f9b4-0194-11e6-80c2-b609f5ae7fac.png)

i have just checked the with the extension you have mentioned it seems working. please try again with a different token. it seems token is invalid or mistyped.

[2016-04-14 14:27] ThunderRoid commented on #3
You used the PATCH method instead of POST. Thanks

[2016-04-14 14:27] #3 closed

[2016-05-13 04:20] vijai1996 opened #4 "Newer device not added"
Hello,
This looks like a neat and good api for finding mobile specifications but I see the database isnt updated yet. I couldnt find specs for nexus 6p and iphone 6s+ for example. May I know how fast is the database updated?

[2016-05-13 06:50] shakee93 commented on #4
It is updated once a month or so.  iphone 6 plus already available, nexus 6p was missing just added now.

try query iphone.

you can try here
http://codepen.io/Shakee93/pen/reYvow

[2016-05-26 17:28] #4 closed

[2016-07-25 04:15] arirah opened #6 "data security and source ?"
data security and source ? Is your api is reliable ?

[2016-07-25 12:31] shakee93 commented on #6
Api is served over a https connection. it is reliable often updated.

[2016-07-25 12:31] #6 closed

[2016-07-31 12:22] rusmichal opened #7 "Filter by years"
Hello.

Thank you for you great API. I have question is it possible to add parameter 'year' or something like that to method getdevice? We need to filter device.

[2016-08-02 17:03] shakee93 commented on #7
You are Welcome. Currently released date is not available on database so would not be able to add it. ill try to collect release date of mobiles after that you can have the release date filter. announced date is possible now.

Thanks

[2016-08-06 14:51] AngelinCalu commented on #7
Maybe there is a way we can help keeping the info from the database updated, as for example "Samsung Galaxy J5 (2016)" has old information regarding releasing date. (it was updated on GSMArena after "collecting" info).

[2016-08-06 14:57] AngelinCalu opened #8 "check quality info should be removed"
![scrap-filter](https://cloud.githubusercontent.com/assets/4613739/17457366/aa950c9e-5bfe-11e6-9a24-4e391a9a2d1f.PNG)

Maybe you should remove "check quality" text from some descriptions before adding it to the database as it's not making too much sense to be there.

I am using the jquery to return objects and I needed to add something like the following to extra "parse" content:

`obj[key] = obj[

[2016-08-12 03:39] shakee93 commented on #8
Thank you for the feedback. it is now been removed.

[2016-08-12 03:39] #8 closed

[2016-08-13 06:40] shakee93 commented on #7
@AngelinCalu Yeah It's a good idea. ill work on it and update this soon.

[2016-10-03 08:49] Lukass445 opened #9 "List names of all devices in api"
Hi,

is there a way to retrieve the list of all devices in the database of this API? I'd like to use this in an autocomplete feature.

Cheers

[2016-10-03 09:11] shakee93 commented on #9
The Api Currently Returns 100 Devices. i think that will do for your autocomplete

[2016-10-05 12:37] #9 closed

[2016-11-26 21:18] guilherme6191 opened #10 "Is is possible to get all the devices in one request?"
Hey guys.
Nice API!

I needed all the devices, either in a json file or doing only one request. It's for a school project lol

Is that possible?
Thanks!

[2016-11-28 06:41] shakee93 commented on #10
Sorry it is not possible. you can get maximum of 100 devices per request.

Thanks

[2016-11-28 06:41] #10 closed

[2016-12-01 19:57] redfast00 opened #11 "Source of data"
Hi, could you please list the sources you used to generate your data in your `README`? Thanks.

[2016-12-06 08:35] shakee93 commented on #11
It is mostly collected by sites which shows device descriptions. i would not like to share the site names. enjoy the one and only mobile description api ;)

[2016-12-06 08:35] #11 closed

[2017-01-21 17:44] useless-id opened #13 "Aliases ("
I was going mad during this request:
...?device=i9060

Actually it was a Samsung Galaxy Grand Neo, but I didn't know it since I use fonoapi'API typing the model string on the back of any phone and it only reported "i9060"
Rather I inspected the response and I noticed that these aliases, anyway are linked to the "_2g_bands", "_3g_bands" and "_4g_bands", after the " - " symbol.
Now, is there a way t

[2017-01-23 07:22] shakee93 commented on #13
for instance if you check the below device it indicates SIM 1 and SIM 2 which contains the 2g bands thats the reason to the device alternate name in there. but in most cases it is different it will be hard to get it from that data. unfortunately currently the only way to filter the device is via the brand and name. i have some plans to add the versions of the mobile to the api. we will see.

Thank

[2017-02-17 23:02] admirpajalic opened #14 "Question about API implementation"
Hi,

I have question regarding your API implementation.

Why are you returning HTTP Status Code 200 (Request succeeded) for invalid request, isn't that HTTP Status Code 400 (Bad request)?

[2017-02-21 18:03] shakee93 commented on #14
Thank you for the feedback.. this will be fixed in next version of the api..

[2017-02-21 18:03] #14 closed

[2017-03-02 08:58] altamash-ak opened #15 "TOKEN ERROR"
hey @shakee93
the token you provied form "[https://fonoapi.freshpixl.com/](url)" is not working and also will it show the latest price

[2017-03-02 09:15] shakee93 commented on #15
Please help me with the error you get. and it will not have the prices

[2017-03-02 09:21] altamash-ak commented on #15
hey well it working fine now but it was giving this error

"Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com"

[2017-03-02 09:27] #15 closed

[2017-03-06 10:23] chiraggmodi opened #16 "Can We add Device data to database?"
Hi
I am creating app in Laravel and i am new to laravel, so is there a way where i can store mobile information in database, instead of query every time to API?

[2017-03-07 06:07] shakee93 commented on #16
Yes of course. you will have to write some logic in order to store the queried data which has come from the api. but it is recommended to use it from the api. that's what api's do..

[2017-03-09 14:35] nicklog opened #17 "Better API Data"
Hey there,

this API could be so much better.  Do not get me wrong. It's great, it's true ;)

But the API would be more useable if the available data were atomic and have data types.
For example:

[code]
[code]

or...

[code]
[code]

or...
[code]
[code]

Maybe you can realize that.

Niki ;)

[2017-03-09 14:57] shakee93 commented on #17
Thank you for your feedback. much appreciated. there is a newer version coming up ill try to put things together.

[2017-03-10 16:38] shakee93 commented on #16
Closing as No Reply

[2017-03-10 16:38] #16 closed

[2017-03-10 17:04] KarimGeiger commented on #17
Hi @shakee93,

first of all: Thanks for the hard work. I know how painful it can be to build a datasource like that.

Nevertheless, as I'm trying to analyse smartphone data, a consistent structure of atomar data would be absolutely brilliant.

Do you have concrete plans on when the new version will be ready to go?

[2017-03-11 19:07] shakee93 commented on #17
@KarimGeiger Thank you. i am planning to start working on this on 20th Monday this month. hope i can complete it as soon as possible

[2017-03-11 21:08] elienoune commented on #17
Hi @shakee93, thanks for creating this API, it's very useful. If I may ask, what is the source for all this data and how do you keep the database up to date? Thanks.

[2017-03-12 11:45] shakee93 commented on #17
@elienoune check out this issue #11

[2017-03-24 07:29] vignesh1raj opened #18 "I can't get the data"
I'm getting error like below
PHP Notice:  Undefined index: HTTP_HOST
PHP Notice:  Undefined index: REQUEST_URI

And also when i given referrer as some website. And run the demo.php its returning like ERROR : Curl Failed

Why we need to pass this parameter and what is the solution for that.
Thanks,
VIGNESH KUMAR K

[2017-03-24 10:40] shakee93 commented on #18
Please try the latest version it is fixed

[2017-03-24 10:43] vignesh1raj commented on #18
Ya its fixed now, upgraded the curl

[2017-03-24 10:48] shakee93 commented on #18
Thank you !!! 😉

[2017-03-24 10:48] #18 closed

[2017-04-14 00:59] liyakhatalikhan opened #20 "Only returns 100."
How can i get more than 100 results? can i get 100 at a time using pagination?

[2017-04-15 07:45] nashwaan commented on #10
Hi @shakee93 ,

Very good job on the API. I have a similar question: If the API limits the result to 100 devices per request, then how to get the next 100? I am trying to get all **samsung** devices.

[2017-04-17 13:12] shakee93 commented on #10
Sorry currently its a no.. i am working on the second version of the api. ill try to add this to the list.

Thanks

[2017-04-17 13:13] shakee93 commented on #20
Already answered, please check #10

[2017-04-17 13:13] #20 closed

[2017-04-17 15:47] nashwaan commented on #10
Thanks @shakee93  for considering this in the next version.

Any estimates on the timeline of the next api?

[2017-04-18 10:17] shakee93 commented on #10
I have already started working on the second version. but unfortunately i cannot guarantee a timeline as i am maintaining this with my full time job. ill try to publish it as soon as possible.

Thank you

[2017-05-16 17:16] gurupras commented on #17
I would be so, so, so grateful if I could get number of cores instead of: `{"cpu": "Quad-core 2.7 GHz Krait 450"`

[2017-05-23 06:32] vaaralav commented on #17
I wrote small parser functions in my project to parse certain attributes to numeric values. Maybe they'll help someone else too, for example @gurupras 's use case for CPU cores is covered: https://github.com/vaaralav/data-mining-phones/blob/master/src/fonoapi-utils.js

[2017-05-23 09:48] shakee93 commented on #17
Thank you @vaaralav that will help @gurupras and others who might need it.

Sorry guyz i have already started working on it and i stuck in the middle because of i am lacking time for this. i hope i can give you guyz the better version soon.

Thank you..

[2017-05-29 06:07] jasmeet77 opened #21 "Curl Error"
Any Solution For Curl Error?

It Just Says ERROR : Curl Failed

[2017-05-31 19:28] shakee93 commented on #21
Sorry for the delayed response check #1

[2017-06-01 13:26] jasmeet77 commented on #21
Thank You For Reply It Works Like A Charm Now

[2017-06-02 12:37] shakee93 commented on #21
Great !! 👍

[2017-06-02 12:37] #21 closed

[2017-07-01 16:45] spikerx94 opened #22 "Adding languages"
Is there an option to change the language? March for example Polish Marzec.

[2017-07-02 17:21] shakee93 commented on #22
Sorry you will have to use your app to translate. it will be complicated to localize the data

[2017-07-02 17:23] spikerx94 commented on #22
I can do it with javascript? Is there a better way?

Text replacement in javascript is problematic that affects positioning. Google sees how the English text is judged

[2017-07-02 18:20] shakee93 commented on #22
Google translate is the best option as far as i know.

[2017-07-02 18:25] spikerx94 commented on #22
Okay thanks

I have yet another question as to whether it is possible to "lock" the model name. For example, "Apple iPhone 7" is the first to display 7 plus. In php to force to show the first result I used

`$i=0;
            foreach ($res as $mobile)if ($i < 1) {
                if (!empty($mobile->DeviceName))    echo "<p><strong>Wprowadzono na rynek: </strong> ". $mobile->announced . "</p>";

[2017-07-02 20:23] shakee93 commented on #22
for this version of API. there is no sort or filter options. so you will have to do it with the data you get from the API. as of the above case you can use the php 'array_reverse' [doc](http://php.net/manual/en/function.array-reverse.php)  method. it will reverse the order

[2017-07-03 08:39] #22 closed

[2017-08-23 05:28] hirenkanetiya commented on #15
How this error solved ? i also face the same issue in angular HTTP post call.

[2017-08-23 08:34] shakee93 commented on #15
Generate a token and try again. if it still doesnt work reproduce the code so i can take a look.

[2017-08-26 20:44] asimshazad opened #23 "How to get next 100 records?"
Hey guys.
A very good effort for maintaining this API
Is there a way i can get list of all items?
Or if i get 100 records,then how can i get next 100 records?

Thanks

[2017-08-27 08:20] shakee93 commented on #23
Related to #10

[2017-08-27 08:20] #23 closed

[2017-09-06 03:39] choungchamnab opened #24 "API request"
GET `https://fonoapi.freshpixl.com/v1/getdevice?token=token&brand=sumsung&device=a8`

I've tried this url to get info but it return No Matching Results Found. If I exclude brand parameter, it can return data.

Is there anythings wrong ?

[2017-09-07 08:48] shakee93 commented on #24
your brand name is wrong it should be `samsung` not `sumsung`

[2017-09-07 08:48] #24 closed

[2017-09-14 11:00] jayantkumarsolanki opened #25 "i am getting error message (Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com)"
Hi
below is the error which i am facing.
{"status":"error","message":"Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com","innerException":null}

what i have done is
1) ganerate token and acquire token after click on this link --->:     https://fonoapi.freshpixl.com/token/generate
2) then i click on this link --->  https://fonoapi.freshpixl.com/v1/getdevice

then i am getting the

[2017-09-15 12:35] shakee93 commented on #25
It seems to be working fine. check if there are any spaces in your token string.

[2017-09-16 04:55] jayantkumarsolanki commented on #25
how can i use it with C# dot net.

Please help

On Fri, Sep 15, 2017 at 6:05 PM, Shakeeb Sadikeen <notifications@github.com>
wrote:

--
*Solanki Jayant H.*

[2017-09-16 05:33] shakee93 commented on #25
Maybe the stack question might help you [here](https://stackoverflow.com/questions/45254516/how-properly-use-json-data-from-url-in-c-sharp)

[2017-09-16 05:33] #25 closed

[2017-09-25 10:15] nicklog commented on #17
any update here?

[2017-09-26 10:55] Najeebmbm opened #26 "How to fetch all brand names?"

[2017-10-14 14:13] channaveer opened #27 "Only getting 100 results"
Hi,
Thank you so much for your efforts to come up with such a beautiful API code.

I am having a query if I use the following code, it will return at max 100 records as per your API.

$devices = fonoApi::getDevice('samsung');

Is there any other way to get the next 100 records or all the devices till date of a particular brand.

Thanks is advance.

[2017-10-16 08:43] shakee93 commented on #27
related to #10

[2017-10-16 08:43] #27 closed

[2017-10-16 08:43] shakee93 commented on #26
Sorry currently no endpoint for that

[2017-10-16 08:43] #26 closed

[2017-10-16 08:44] shakee93 commented on #17
@nicklog sorry bud yet no update on that. would you like to give a hand on this ?

[2017-10-17 11:35] nicklog commented on #17
Yes, i would.

Perhaps my company would too because we have a customer who has a huge interest in an api like this.

[2017-10-22 12:31] stylefieber opened #28 "adding offset"
Hey there,

due to the limit of 100 results per result set, there should be an offset option so that you can go through pages.

But anyway: nice project!

[2017-11-05 18:00] mjlcosta15 opened #29 "Add images"
Hi, would you consider add images of the devices to the request?
It would complete the this great API 😄

[2017-11-19 20:43] paulomac1000 opened #30 "Get all brand and all models"
I'm creating project for my university and I need all phones with parameters. I want to use Your API, but I don't know all phone names. I tried to get phones by brand name, but f.e. Samsung has about 1500 models and API limit result to 100 items. Is there any way to get more result or get only all models for specified brand? Or can You implement pagination of result?

[2017-11-19 23:31] #30 closed

[2017-11-19 23:31] paulomac1000 commented on #30
resolved problem by myself

[2017-12-04 06:31] maulik-dodia opened #31 "List of Mobile Phone Models"
I would be good if you can add mobile phone models and It's manufacturer company name. It's just a suggestion.

[2017-12-11 18:53] watahell commented on #30
How did you solve this?

[2018-01-05 07:41] Rohit-shopasky commented on #29
Yes it is a wonderful api. If you manage to add images of the devices then this api will become most popular.

[2018-01-05 09:00] shakee93 commented on #17
Thank you for your interest @nicklog, your interest in this project has given me the motivation to make it a full-fledged service.

and I didn't wanna respond to this issue until I have made a good step forward. I am excited fonoapi now has its own **domain: http://fonoapi.com**

I am now spending more time on this. I would love to hear the feature's which needs to be added to the brand new API. i

[2018-01-19 16:43] cprcrack opened #32 "Where do you get the data from?"
How accurate and complete is the data? Where do you get it from?

[2018-02-13 16:01] alvarormoya commented on #17
Thanks for your work @shakee93. I can not share ideas in trello board, seems I need to be added to it. These are my takeaways:
- Order and filter for getDevice. For filtering, my reference is Gsm Arena: [https://www.gsmarena.com/search.php3?nYearMin=2016&nPriceMin=100&nPriceMax=400&nRamMin=3000&nRamMax=6000&fDisplayInchesMin=4&fDisplayInchesMax=5.5&sMakers=9&sAvailabilities=1](https://www.gsmarena

[2018-02-13 16:26] shakee93 commented on #17
@alvarormoya sorry for the trello not working. i think it would be apt discuss it in this issue.. or i might create another issue regarding this.

and we can add this feature to the newer version with those filters

[2018-02-13 16:28] shakee93 commented on #32
i am closing this as duplicate of  #11

[2018-02-13 16:28] #32 closed

[2018-02-13 16:29] shakee93 commented on #29
this will be available in the coming up newer version. please add these feature requests to issue #17

[2018-02-13 16:29] #29 closed

[2018-02-13 16:31] shakee93 commented on #28
Thank you for your feedback. this feature will be available on coming up newer version. keep an eye on #17 for updates

[2018-02-13 16:31] #28 closed

[2018-02-13 16:33] shakee93 commented on #7
closing this issue. follow this issue for the updates regarding this feature #17

[2018-02-13 16:33] #7 closed

[2018-02-13 17:12] Rohit-shopasky commented on #17
Can you arrange the data of laptops also....if it is possible then please collect..bcoz i haven't find any api for laptops on the whole internet.

[2018-02-13 19:39] maurosanjo opened #34 "Be compatible with google official list of devices"
Hello!

I believe it is pretty important to make the database use same identification of Manufacturer/Device Marketing Name/ and so on as the google official list of supported devices.

Imagine the app wants info about the current users phone, using Android API we cannot retrieve the "DeviceName" you're using (Samsung and Asus phones for instance), we have to find it on Model column of google offi

[2018-02-14 07:09] shakee93 commented on #34
this will be definitely considered in the upcoming version. will setup a way to identify the device with the google's official list.

[2018-02-15 10:06] maulik-dodia commented on #31
Can I use in my Android Application? I need to call this API to get the Brand Names and their Mobile Phone Models.

[2018-02-24 10:37] Sourabhtomar1 opened #35 "Please add price and reviews section also in API"

[2018-03-20 16:17] holgersindbaek opened #36 "Getting ID and/or image"
Just looked through this sweet API and it's almost perfect for what I need it for. I need an image of each phone though and if I can't get an image, I need a model number or some other unique identifier, so I can get an image from somewhere else.

I'm sure someone else has run in to this issue. How did you deal with it?

[2018-03-22 14:59] StefanosGiannakis opened #37 "Awesome API"
Hi , congrats for this project , i have a question . Why results is never over 100 ? For example if i make a call with "samsung" i am getting 100 results , same with "Lg".

[2018-03-23 12:50] AkashDhanwani opened #38 "How can I use it in Java?"
Hi
I want to implement this in an App using Android Studio, so for that I need to implement it in java. I can see examples of python and php, but not for Java

Can anybody show an example ?

[2018-03-24 12:32] jheyjheyjhey opened #39 "Add Image to the devices"
Hi, currently using your API on my little project. Can we have image for the device? Let me know help is necessary, I can volunteer.

Cheers!

[2018-03-30 09:30] AkashDhanwani commented on #36
I am also facing this issue.
Have you got any solution?

[2018-03-31 19:51] aafanasev commented on #38
@AkashDhanwani you can try https://github.com/aafanasev/fonoapi-client

[2018-04-03 10:05] shakee93 commented on #38
@aafanasev Thanks for the contribution

[2018-04-03 10:05] #38 closed

[2018-04-04 19:41] maurosanjo commented on #34
Any news on this? Need any help?

Regards

[2018-04-14 17:42] donkeymonkey1 opened #41 "Not working for nodejs"
Just show undefined ..

[2018-04-23 12:56] shakee93 commented on #41
there are nodejs extensions available. the one on the repo needs jquery to work with.

https://www.npmjs.com/package/@meecolabs/fonoapi
https://www.npmjs.com/package/fonoapi-nodejs

[2018-04-23 12:56] #41 closed

[2018-04-24 10:24] tastafur opened #42 "Hosting api suspended"
I can not make calls to the api, the account has been suspended

<img width="1440" alt="captura de pantalla 2018-04-24 a las 12 17 45" src="https://user-images.githubusercontent.com/11853181/39181554-51ddb606-47ba-11e8-930b-31963b77355e.png">

[2018-04-24 10:37] shakee93 commented on #42
live now.

[2018-04-24 10:37] #42 closed

[2018-04-29 13:15] drmms86 opened #43 "Database update"
Any update for database?

[2018-04-30 05:24] shakee93 commented on #43
Database updated !!!! thanks

[2018-04-30 05:24] #43 closed

[2018-05-20 19:01] techmun opened #44 "some phone spec cant find in api"
hello,
this is awesome api to search for phone specification.
Some phone model is not found in API. Where I can suggest the missing list to you?

[2018-06-06 11:12] ramgsm commented on #37
hi sir please tell me how we get records

[2018-06-06 11:23] alexandruspataru commented on #37
@StefanosGiannakis - because it's limited to 100. You can use a start point of 100 to show the resuls from 100 to 200. Please double check the documentation and you'll see how to achieve that.

@ramgsm You have multiple demo version included (PHP + Javascript). You can use whatever programming languange you want to get the records (in case you know any).

[2018-06-06 11:29] alexandruspataru commented on #39
@jheyjheyjhey I already have 3-4000+ images, all of them square and 500x500px size, however, think that this cannot be done by the API provider as it comes with a lot of cloud space + bandwidth.

[2018-06-14 10:59] moeinkarimi1984 commented on #27
hi
thanks for your api

@channaveer you can read from this char by char
i wrote php code with searching array based. that take all device from this.
e.g. samsung a, samsung b, and ,,,,,
each character has usually no more than 100 device
in some case samsung g === galaxy maybe that is more than 100 then you must change code to
samsung galaxy a, samsung galaxy b,....

and check that witch charecter

[2018-06-15 06:27] ramgsm commented on #37
how we get all records in json formate with php please help me as soon as possible thanks in advance sir

[2018-07-05 08:54] shubhamkandiyal opened #45 "get all devices on initialisation of page"
need to get all devices on initialisation of page without limit of 100 and if there is any limitation of 100 then please tell me a way something like 0-100 data (1st request) 0-200 data (2nd request) and so on..

[2018-07-12 06:29] pinkienort opened #46 "Please write HTTP method in README"
There are api descriptions in README, but there is no description about HTTP method.

[2018-07-12 06:39] pinkienort commented on #46
pr is #47

[2018-07-12 06:40] alexandruspataru commented on #46
Maybe you could learn a bit about the "Do It Yourself" method? Anyway, this is an example of how you can get it done:

`https://fonoapi.freshpixl.com/v1/getdevice?token=86b89476caaf66eda3f21279b7711afc&device=z5&brand=sony`

whereas we have the following parameters:

**token** - your personal token
**device** - the device you're looking for
**brand** - the brand that owns the phone - keep in mind

[2018-07-12 13:08] pinkienort commented on #46
I'm sorry, I noticed that the query was wrong, I found that I can access GET or POST. So I will add a commit of the fix to the pull request.

The example is very easy to understand, I can see that the API can be accessed with the GET method. However, the README does not have that information, it is confusing. Therefore, it is helpful to explain explicitly whether the API uses which method.

[2018-07-14 20:15] isaumya commented on #39
Yes I'm also looking for this feature, also as this is an open source project, I'm sure that many company provide free hosting for open source projects.

[2018-07-16 03:20] #46 closed

[2018-07-19 09:08] alexandruspataru commented on #36
@olsiodobashi you can create your own ID based on brand / phone name.

[2018-07-19 11:27] drmms86 opened #48 "Database update"
update the database please

[2018-09-02 10:51] #48 closed

[2018-09-12 06:23] Deepakchawla opened #49 "Incomplete data"
The following mobile phones brands don't have the price object:-
1. Zte
2. Samsung
3. Oppo
4. Nokia
5. Motorola
6. Micromax
7. LG
8. Huawei
9. HTC

The following mobile phones brands don't have updated models:-
1. Samsung
2. Sony
3. ZTE
4. Nokia
5. Motorola
6. Micromax
7. LG
8. Huawei
9. HTC

Now from where I will get that complete data of the above mobile phones or till when you will update the d

[2018-10-08 13:52] titoff002 opened #51 "database on excel format ?"
Hello,

Nice job for your API.

On the other hand, is there any possibility of having a pagination bar allowing to go on the next 100 recording?

Is it possible to achieve this? If yes, how ?

Do you give your complete database in xls format?

`Can you have the colors of phones in French ?`

Thank you.

[2018-10-08 17:48] arnaudsm commented on #51
For the colors in French, you can write a 2 dimensions array with every color in English and its match in French, then translate every color field with a filter. Shakee doesn't speak French I think ;)

[2018-10-18 08:01] 100401031 opened #52 "iphone Xs data"
It seems that there is no iphone Xs in the data. Will it be updated? or I miss something?
Thank you!

[2018-10-19 03:49] arkgnan opened #53 "add getbrand method"
before we use getdevice in our application, we need get brand name. so, add getbrand method to this API. it's easy to implement it

[2018-10-29 13:22] JimRaid opened #54 "Cannot search via Device Model"
I am not able to search a device via device model. It would be extremly helpfull since I only have the model number and not the human readable device name.

[2018-11-10 05:11] rahul05ranjan opened #55 "Update database"
Why you update database slowly?

[2018-12-20 03:43] iadcg opened #56 "Not a Valid Method"
I got this error using postman

<img width="1074" alt="screen shot 2018-12-20 at 11 42 23 am" src="https://user-images.githubusercontent.com/45412363/50262448-6761d080-044c-11e9-92b3-d063857ae09c.png">

[2018-12-20 03:53] #56 closed

[2019-01-23 21:42] Nkvnl opened #57 "Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com"

[2019-01-23 21:46] Nkvnl commented on #57
Hi @shakee93,

**Im trying to get data using the following code;**

[code]

**Resulting in the following Error:**

{ status: 'error',
  message: 'Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com',
  innerException: null }

Any ideas about what the problem could be?

[2019-01-23 22:17] RobinDeBock commented on #57
The api is partially offline, any generated tokens are unusable

[2019-01-23 22:18] RobinDeBock commented on #57
Even old tokens are unusable. I tried mailing the webmaster, but the mail address became invalid this day (23/01/2019)

[2019-01-24 11:20] Nkvnl commented on #57
That's unfortunate, thanks for the update.

[2019-01-24 16:34] salgua commented on #57
Same problem...

[2019-01-24 18:34] rubencougil commented on #57
ey, @shakee93 could you provide an update?

[2019-01-24 20:01] shakee93 commented on #57
Sorry for the inconvenience !! server was due to higher resource usage.. ill be moving the service to another serve, will be backup soon !

[2019-01-24 20:09] rubencougil commented on #57
good to know! thank you for the update @shakee93 !

[2019-02-05 15:44] pritam-patil commented on #52
@100401031 I hit a request for iPhone X data and seems like data is present on the API.
Request used - https://fonoapi.freshpixl.com/v1/getdevice?brand=Apple&device=iPhone%20X&token={YOUR_TOKEN_HERE}

[2019-02-07 11:46] aviv-dw opened #59 "Access-Control-Allow-Origin response header is missing"
I am trying to get the data from the API but keep getting CORS error, even though data is fetched .

After searching about this problem it seems that you are missing the
Access-Control-Allow-Origin response header.

Here is a link to the issue in Stackoverflow:
https://stackoverflow.com/questions/46737291/cors-error-but-data-is-fetched-regardless

Could you please fix this issue?

[2019-02-07 12:01] shakee93 commented on #59
fixed this issue !!

[2019-02-07 12:01] #59 closed

[2019-02-07 12:10] aviv-dw commented on #59
Thank you for the very quick response and fix! It is working now.

[2019-02-10 16:50] yoavkarako commented on #52
@pritam-patil `iPhone X` and `iPhone Xs` are two separate devices. The `Xs` and `Xs Max`, two of Apple's latest devices, are still unavailable through the service.
Any word on when they'll be added?

[2019-02-11 03:16] pritam-patil commented on #52
@yoavkarako My bad.  Just to verify looked-up Xs and Xs max on the API which is NOT available.
I have no clue when they'll be added.

[2019-02-28 21:45] nymbols commented on #57
This issue should be closed as tokens are now working.

[2019-03-03 09:51] TheDApact opened #60 "Database maintenance"
Great API, cannot find anything better out there. Big up to the author. Too bad the db is not updated every month.

Who is updating the database?
Does the api author has plans to allow for more regular updates? entrusting 3rd parties maybe or at least allowing pull requests?

Also would be great to have a ```type``` property in the JSON (smartphone/tablet/watch etc) and even better have an updated

[2019-03-13 08:06] aeharake commented on #57
still not working

{
    "status": "error",
    "message": "Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com",
    "innerException": null
}

[2019-03-15 23:57] Vmoos opened #61 "Invalid or Blocked Token. Generate a Token at fonoapi.freshpixl.com"
is there is any solution for this error????? :(

[2019-05-01 17:37] Catbirby opened #62 "Samsung s7 data"
status for the Samsung Galaxy s7 is inaccurate, claims the phone is still rumored. Should say

[2019-05-02 16:24] Catbirby opened #63 "API Not responding and Account suspended"
It seems like the API is down due to account suspension by the provider.
![image](https://user-images.githubusercontent.com/17212283/57090615-14324100-6cbc-11e9-89e5-e10c66d0a539.png)

[2019-05-06 10:31] shakee93 commented on #63
sorry for the delayed response. the site was up on the day it was down

[2019-05-06 10:31] #63 closed

[2019-05-30 09:22] maheshtheknight commented on #37
Hi,
I have checked the documentation, there is no way/option to send start point or page.
For example in 1st request i got 100 records, i want next 100 records means i need to send page no or last record no like page =101. then only i can get next 100 records. In this api there is no parameter like that, right ?
The parameter "limit" will get only limited no.of records from 100 records(max records

[2019-06-02 14:20] BelRat commented on #57
I have the same problem and get ""Invalid or Blocked Token".
Any help on if I am doing something wrong would be appeciated, see below for details.

1. I started with generating a token from https://fonoapi.freshpixl.com/token/generate :
_Successfully Acquired your Api Token
a054a4e98f1c8ad85adecb931a7ea83b6711b74cf991967c_

2. Then I use the retrieved token as follows (I tried multiple tokens with

[2019-06-02 14:28] BelRat commented on #57
Adding to my previous comment that I get the same result reagredless if I use a space or not in-between -XPOST, i.e.:
C:>curl https://fonoapi.freshpixl.com/v1/getdevice -XPOST ...
vs
C:>curl https://fonoapi.freshpixl.com/v1/getdevice -X POST ...

[2019-08-27 13:32] Rudolfet opened #65 "Xiaomi Mi A2 Lite"
Processor & Memory:
3GB + 32GB / 4GB + 64GB
Qualcomm® Snapdragon™ 625, up to 2.0 GHz
Adreno 506 graphics processing unit
Supports expandable storage up to 256GB (VFAT format)

*Actual free memory and capacity may vary due to various factors. As the operating system occupies a portion of the RAM, actual available memory is less than stated. As the phone comes with pre-installed applications, the ac

[2019-09-13 22:19] obadajasm commented on #61
++

[2019-10-19 02:06] ThinkDigitalSoftware opened #66 "Created a Dart client library"
https://github.com/thinkdigitalsoftware/fonoapi-dart

[2019-10-26 15:24] Rujengelal opened #67 "couldn't install via composer"
C:\Users\test\Desktop\New folder (3)>composer require shakee93/fonoapi

  [InvalidArgumentException]
  Could not find a matching version of package shakee93/fonoapi. Check the package spelling, your version constraint
  and that the package is available in a stability which matches your minimum-stability (dev).

require [--dev] [--prefer-source] [--prefer-dist] [--no-progress] [--no-suggest] [--no

[2019-10-30 15:51] ahmedNagar123 opened #68 "mobile image not found?"
Why can't I access the mobile image?

[2019-11-02 08:04] luckv commented on #66
You should make a pull request to add it to the README.md

[2019-11-02 15:09] ThinkDigitalSoftware commented on #66
Good idea, thank you

[2019-12-11 04:40] dilipchandima commented on #17
Hi @shakee93 Can you add Images to the API then this will be a most popular API for mobile phone search system developers

[2019-12-11 12:37] dilipchandima opened #70 "Remove `device` mandatory from the api query"
Can you change the device option to optional for API parameters because If I want to get all the mobile phones for 'Samsung' I cannot get the list because of the device parameter

[2019-12-17 15:38] dlegend116 opened #71 "Device Name"
is it possible you can add device model ID, for example to search by SM-G960?

[2020-01-05 21:28] xitude commented on #39
Do you still have this? It would be useful for my dataset

[2020-01-05 21:44] xitude commented on #70
Use `https://fonoapi.freshpixl.com/v1/getlatest`

[2020-01-06 05:15] sudoxd commented on #52
basically the same phone anyways though

[2020-02-03 11:47] gauravmoar commented on #36
if you could add images with each object. It would be great!!

[2020-03-02 15:01] impirios opened #72 "Get price of the phones"
The api is perfect but can it include the price of the phones

[2020-03-02 15:14] impirios commented on #17
Hi @shakee93 can you add price of the devices too

[2020-03-02 15:40] luckv commented on #72
But the price changes over time

[2020-04-22 21:50] toledorobson opened #73 "Is this project live?"
Last update is on March, 2019. About 1 year ago. Is it live? Can we use?

[2020-07-09 16:15] vodniciarv commented on #73
@shakee93, maybe you need financial support for more frequent database updates?

[2020-07-09 16:19] vodniciarv commented on #55
https://github.com/shakee93/fonoapi/issues/73

[2020-07-09 16:20] vodniciarv commented on #60
https://github.com/shakee93/fonoapi/issues/73

[2020-07-10 08:01] shakee93 commented on #73
@vodniciarv that would be awesome ! let me know

[2020-07-10 09:05] vodniciarv commented on #73
@shakee93 You have a Patreon account?

[2020-07-10 09:28] shakee93 commented on #73
Thank you here it is : https://www.patreon.com/shakee93

[2020-07-22 14:40] xitude opened #74 "Is a dump of the current db available?"
I have a site where I need historical data, not just the latest 100 devices.

Could I purchase that data?

[2020-07-23 07:14] shakee93 commented on #74
yes available. please drop a pm on twitter @shakee93

[2020-07-23 07:14] #74 closed

[2020-08-08 08:42] umar15 commented on #67
please tell us how to install it as the above error is coming in my device as well.

[2020-09-04 08:11] prashantgodhwani opened #75 "The api is timing out"
It seems that the project is not live. All my requests are timing out. Can someone check?

[2020-09-04 10:15] shakee93 commented on #75
the server was out of resources. should be fixed by now !

[2020-09-04 10:15] #75 closed

[2020-09-04 15:17] prashantgodhwani commented on #75
https://fonoapi.freshpixl.com/ is still down. Calls to API are failing. Can you look into it?

[2020-09-04 17:15] prashantgodhwani opened #76 "API calls timing out"
https://fonoapi.freshpixl.com/ is still down. Calls to API are failing. Can you look into it?

[2020-09-07 18:37] piotrbarandeveloper commented on #76
I wrote an email to the author of the project. We are waiting.

[2020-09-07 19:23] shakee93 commented on #76
the server is down to heavy load. it will be backup soon. ill let you guys know!

Thanks.

[2020-09-23 19:42] piotrbarandeveloper commented on #76
Well?

[2020-09-24 17:56] surajbeston commented on #76
please get it up soon @shakee93, can't find an alternative...

[2020-10-07 23:08] Wlada opened #77 "When we can expect the database to be back?"
When we can expect the database to be back? Thanks

[2020-10-13 10:15] maheshperi19 commented on #77
Yes, we are eagerly waiting for the update with images. Better to have all phones images along with the specifications.

[2020-10-13 12:38] Wlada commented on #77
It's not just images, I can't get basic phone data any more.

[2020-11-08 22:13] piotrbarandeveloper commented on #77
@shakee93  well?

[2020-11-13 07:57] NeleB54Gold commented on #77
You could put the database open source to avoid load issues, there are no other alternatives like this

[2020-11-30 06:25] wobsoriano commented on #77
I can scrape GSMARENA site for all phones and use Vercel serverless for hosting API and maybe faunadb as database

[2020-12-05 16:32] NeleB54Gold commented on #77
If you can create and make open source it, so you can do a self host, you wouldn't have heavy load issues like fonoapi, right? Would be great

[2021-01-25 23:38] umutesen commented on #77
[this](https://api.deviceinfo.xyz) appears to be a similar API available.

[2021-01-26 05:07] wobsoriano commented on #77
This project is dead, they are just shy to admit it. Good run tho.

[2021-01-28 01:59] leshawn-rice commented on #77
I am working on a similar API at the moment. It should be finished within the next few weeks. [Github Link](https://github.com/leshawn-rice/grabaphone)

[2021-04-15 22:48] joehanna commented on #77
This returns a 503 error now

[2021-06-26 09:16] jamureddy opened #78 "Hi,we have an api which is similar to fonoapi"
We are launching our api very soon ,if intersted  check this url.

**https://api.teksitus.com/launch/**.

Free for developer and personal projects.

Teksitus

[2021-06-26 09:18] jamureddy commented on #77
Hi ,we have an api similar to fono api

We are launching our api very soon ,if intersted check this url.

**https://api.teksitus.com/launch/.**

Free for developer and personal projects.

Teksitus

[2021-06-26 09:21] jamureddy commented on #77
Hi ,we have an api similar to fono api

We are launching our api very soon ,if intersted check this url.

https://api.teksitus.com/launch/.

Free for developer and personal projects.

Teksitus

[2021-06-26 09:22] jamureddy commented on #76
Hi ,we have an api similar to fono api

We are launching our api very soon ,if intersted check this url.

https://api.teksitus.com/launch/.

Free for developer and personal projects.

Teksitus

[2021-06-26 09:22] jamureddy commented on #73
Hi ,we have an api similar to fono api

We are launching our api very soon ,if intersted check this url.

https://api.teksitus.com/launch/.

Free for developer and personal projects.

Teksitus

[2021-06-26 11:55] jamureddy commented on #77
Hi ,we have an api similar to fono api

We are launching our api very soon ,if intersted check this url.

https://api.teksitus.com/launch/.

Free for developer and personal projects.

Teksitus

[2021-07-09 23:18] rahul05ranjan commented on #73
Seems not live yet!!

[2021-07-10 17:07] jamureddy commented on #73
We are launching it soon,and it has more features than fono API

Thanks,
Teksitus

[2021-07-13 16:35] maheshperi19 commented on #77
When can we expect this new api launch ?

[2021-08-11 23:34] maheshperi19 commented on #78
Any update on this new api?

[2021-08-12 00:43] jamureddy commented on #78
We are working on that and will be launched soon thanks for yours interest towards our API

Teksitus

[2021-09-09 18:47] anindya-dey opened #79 "API still non-responsive"
Hi Team,

The API endpoint is still not available. Would you mind telling me when can we expect it to be up and running?

If it's gonna take some time, would you point me to an alternative? Or updating the Readme with a basic response structure from the API?

[2021-09-09 18:50] anindya-dey commented on #73
Would you mind letting me know by when we might expect it to be alive? And since fono is not available for quite sometime now, could you point me towards another alternative?

[2021-09-10 09:40] anindya-dey commented on #78
@jamureddy is it ready yet?

[2021-10-25 17:11] realtechspecs opened #80 "[New] Official TechSpecs API"
Hi everyone,

We're launching an API that provides an easy way for you to get the official technical specifications of any consumer electronics product in the world, just in a few seconds.

Our API is ready and currently in private beta.

Signup for early access here https://developer.techspecs.io/

[2021-10-25 17:12] realtechspecs commented on #78
We're launching an official API for consumer electronics tech specs.  Our API is ready and currently in private beta. You can join the waitlist here https://developer.techspecs.io/

[2021-10-25 17:16] realtechspecs commented on #73
Checkout TechSpecs API https://developer.techspecs.io/

[2021-10-25 17:30] realtechspecs commented on #77
We're launching an official API for the world's consumer electronics tech specs.

Our API is ready and currently in private beta.

You can join the waitlist here https://developer.techspecs.io/ and try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:32] realtechspecs commented on #76
We're launching an official API for the world's consumer electronics tech specs.

Our API is ready and currently in private beta.

You can join the waitlist here https://developer.techspecs.io/ and try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:34] realtechspecs commented on #72
TechSpecs API will include LIVE product prices from Amazon, eBay, Best Buy and more...

Our API is ready and currently in private beta.

You can join the waitlist here https://developer.techspecs.io/ and try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:35] realtechspecs commented on #71
Checkout the official TechSpecs API.

You can join the waitlist here https://developer.techspecs.io/ and try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:36] realtechspecs commented on #79
TechSpecs API readily available for you and currently in private beta.

You can join the waitlist here https://developer.techspecs.io/ or try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:41] realtechspecs commented on #60
@PierreMarieRiviere TechSpecs API readily available for you and currently in private beta. Our product database is updated on a daily basis and has a **type** property in the JSON(smartphone/tablet/smartwatch/laptop)

You can join the waitlist here https://developer.techspecs.io/ or try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:43] realtechspecs commented on #52
TechSpecs API available and currently in private beta. Our product database includes all Apple's latest devices and is updated on a daily basis.

You can join the waitlist here https://developer.techspecs.io/ or try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:44] realtechspecs commented on #54
@JimRaid TechSpecs API allows you to search a device via **device model code**.

You can join the waitlist here https://developer.techspecs.io/ or try our search engine here https://techspecs.io/ (powered by our API)

[2021-10-25 17:46] realtechspecs commented on #62
@Catbirby  TechSpecs API provides you with accurate standardized specs verified with blockchain technology.

You can join the waitlist here https://developer.techspecs.io/ or try our search engine here https://techspecs.io/ (powered by our API)